@import "https://unpkg.com/highlight.js@9.12.0/styles/obsidian.css";
@import "https://unpkg.com/github-markdown-css@3.0.1/github-markdown.css";

@tailwind preflight;
@tailwind utilities;

@responsive {
    .bg-docs-gradient {
        background: linear-gradient(90deg, #f1f5f8 50%, #fff 50%)
    }
}

.markdown-body a {
   color: #53BA82;
}

.transition-all-ease {
    transition: all .3s ease;
}

.markdown-body {
    @apply .mt-8;
}

.markdown-body pre {
    @apply .bg-blue-dark .border-l-8 .border-green;
}

.twitter-tweet {
    @apply .mx-auto;
}

.arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #ccc;
    border-bottom: 0;
}