---
layout: landing.ejs
dest: cn/index.html
locale: cn
---

<div class="bg-blue-light">
    <div class="container mx-auto py-8 px-4 md:px-0">
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 my-8">
                <h1 class="text-5xl leading-tight text-white">使用Vue.js和NativeScript构建真正的本机应用</h1>

                <p class="w-4/5 leading-loose text-white mt-4">
                    想要发布你梦寐以求的应用程序而不必学习新的语言吗？

                    NativeScript-Vue是您的正确选择！
                </p>

                <a href="/cn/docs/introduction"
                   class="px-8 py-4 inline-block bg-green text-white font-bold text-lg no-underline mt-8">
                    入门
                </a>
            </div>

            <div class="hidden md:block md:w-1/2 my-8">
                <img class="w-auto" src="https://art.nativescript-vue.org/misc/phone.svg" alt="phone">
            </div>
        </div>
    </div>
</div>


<div class="container mx-auto py-8 px-4 md:px-0">
    <div class="flex flex-wrap -mx-3">
        <div class="w-full md:w-1/3 px-4">
            <h2 class="text-blue-dark">易于上手。</h2>

            <p class="text-blue-dark leading-normal">
                NativeScript-Vue很容易上手，它是一个可以通过npm安装的依赖项。
            </p>
        </div>

        <div class="w-full md:w-1/3 mt-8 md:mt-0 px-4">
            <h2 class="text-blue-dark">熟悉的语法。</h2>

            <p class="text-blue-dark leading-normal">
                NativeScript-Vue旨在使用您在Vue.js中习惯的语法。
            </p>
        </div>

        <div class="w-full md:w-1/3 mt-8 md:mt-0 px-4">
            <h2 class="text-blue-dark">快速的工作流程。</h2>

            <p class="text-blue-dark leading-normal">
                使用NativeScript-Vue，您可以快速构建应用程序，因为您不必学习新语言。
            </p>
        </div>
    </div>
</div>

<div class="text-center px-4 md:px-0">
    <h1 class="text-blue-dark font-light">赞助商</h1>

    <div class="flex flex-wrap justify-center my-8">
        <a href="https://www.privateinternetaccess.com/?source=nativescript-vue.org"
           target="_blank"
           rel="noopener"
           class="p-4">
            <img class="max-h-16 w-auto" src="https://art.nativescript-vue.org/sponsors/pia.png"
                 alt="PrivateInternetAccess">
        </a>
        <a href="https://kiwiirc.com/?source=nativescript-vue.org"
           target="_blank"
           rel="noopener"
           class="p-4">
            <img class="max-h-16 w-auto" src="https://art.nativescript-vue.org/sponsors/kiwiirc.png"
                 alt="KiwiIRC">
        </a>
        <a href="https://www.progress.com/?source=nativescript-vue.org"
           target="_blank"
           rel="noopener"
           class="p-4">
            <img class="max-h-16 w-auto" src="https://art.nativescript-vue.org/sponsors/progress.png"
                 alt="Progress">
        </a>
    </div>
</div>