---
layout: landing.ejs
dest: ja/index.html
locale: ja
---

<div class="bg-blue-light">
    <div class="container mx-auto py-8 px-4 md:px-0">
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 my-8">
                <h1 class="text-5xl leading-tight text-white">本物のネイティブアプリを、Vue.jsとNativeScriptを使って作ろう。</h1>

                <p class="w-4/5 leading-loose text-white mt-4">
                    新しい言語を習得する手間をかけずにアプリをリリースしたいと夢見たことはありますか？

                    そんなあなたには、NativeScript-Vueがぴったりです!
                </p>

                <a href="/ja/docs/introduction"
                   class="px-8 py-4 inline-block bg-green text-white font-bold text-lg no-underline mt-8">
                    はじめる
                </a>
            </div>

            <div class="hidden md:block md:w-1/2 my-8">
                <img class="w-auto" src="https://art.nativescript-vue.org/misc/phone.svg" alt="phone">
            </div>
        </div>
    </div>
</div>


<div class="container mx-auto py-8 px-4 md:px-0">
    <div class="flex flex-wrap -mx-3">
        <div class="w-full md:w-1/3 px-4">
            <h2 class="text-blue-dark">使い始めるのは簡単。</h2>

            <p class="text-blue-dark leading-normal">
                NativeScript-Vue を使い始めるのはとても簡単で、依存関係はnpmを通してインストールするだけで解決可能です。
            </p>
        </div>

        <div class="w-full md:w-1/3 mt-8 md:mt-0 px-4">
            <h2 class="text-blue-dark">親しみやすいシンタックス。</h2>

            <p class="text-blue-dark leading-normal">
                NativeScript-Vueは、Vue.jsで親しんだシンタックスが使えることを目指しています。
            </p>
        </div>

        <div class="w-full md:w-1/3 mt-8 md:mt-0 px-4">
            <h2 class="text-blue-dark">迅速なワークフロー。</h2>

            <p class="text-blue-dark leading-normal">
                NativeScript-Vueを使えば新しい言語を学ぶ必要がないので、アプリを素早くビルドできます。
            </p>
        </div>
    </div>
</div>
