---
layout: landing.ejs
dest: hu/index.html
---

<div class="bg-blue-light">
    <div class="container mx-auto py-8">

        <div class="w-1/2 my-8">
            <h1 class="text-5xl leading-tight text-white">Truly native apps using Vue.js and NativeScript</h1>

            <p class="w-4/5 leading-loose text-white mt-4">
                Want to release that app you've been dreaming about
                without the hassle of learning new languages?

                NativeScript-Vue is the right choice for you!
            </p>

            <!-- TODO set the correct link for getting started -->
            <a href="/" class="px-8 py-4 inline-block bg-green text-white font-bold text-lg no-underline mt-8">
                Get Started 2
            </a>
        </div>

    </div>
</div>
