<ul class="list-reset">
    <% items.forEach((item) => { %>
    <li>
        <a class="no-underline text-green hover:underline" href="/<%= item.path %>"><%= item.title %></a>
    </li>
    <% }) %>
</ul>