<ul class="list-reset">
    <% posts.forEach((post) => { %>
    <li>
        <a class="no-underline text-green hover:underline" href="/<%= post.path %>"><%= post.title %></a>
    </li>
    <% }) %>
</ul>