<div class="text-blue-dark text-center text-2xl mt-8">What's next?</div>
<hr class="border-t-2 border-blue-lighter w-24">
<div class="text-center mt-8">
    <a class="no-underline bg-green px-4 py-2 text-white" href="/<%= next.path %>">
        <%= next.title %>
    </a>
</div>
