<div v-cloak v-show="modalVisible" class="fixed pin z-50 overflow-auto bg-smoke-dark flex" @click.self="modalVisible = false">
    <div class="relative p-4 w-full max-w-md m-auto flex flex-col" style="background: #f1f1f1;">
        <div class="absolute pin-t pin-r mr-4 mt-4 cursor-pointer text-smoke-dark hover:text-black"
             @click="modalVisible = false">
            <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xml:space="preserve"
                 style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
                <path d="M11.534,10l8.254,-8.254c0.283,-0.283 0.283,-0.74 0,-1.023l-0.511,-0.511c-0.283,-0.283 -0.74,-0.283 -1.023,0l-8.254,8.254l-8.254,-8.248c-0.283,-0.283 -0.74,-0.283 -1.023,0l-0.511,0.511c-0.283,0.283 -0.283,0.74 0,1.023l8.254,8.248l-8.248,8.254c-0.283,0.283 -0.283,0.74 0,1.023l0.511,0.511c0.283,0.283 0.74,0.283 1.023,0l8.248,-8.254l8.254,8.254c0.283,0.283 0.74,0.283 1.023,0l0.511,-0.511c0.283,-0.283 0.283,-0.74 0,-1.023l-8.254,-8.254Z"
                      style="fill-rule:nonzero;"></path>
            </svg>
        </div>

        <div class="flex items-center">
            <iframe v-if="modalLoaded || modalVisible"
                    :src="'https://developer.telerik.com/wp-login.php?action=slack-invitation'"
                    class="w-full h-full"
                    style="height: 420px;"
                    @load="modalLoaded = true"
                    frameborder="0"
            ></iframe>
        </div>

    </div>
</div>