<div class="text-center px-4 md:px-0">
  <h1 class="text-blue-dark font-light">Sponsors</h1>

  <div class="flex flex-wrap justify-center my-8">
      <a href="https://www.privateinternetaccess.com/?source=nativescript-vue.org"
         target="_blank"
         rel="noopener"
         class="p-4">
          <img class="max-h-16 w-auto" src="https://art.nativescript-vue.org/sponsors/pia.png"
               alt="PrivateInternetAccess">
      </a>
      <a href="https://kiwiirc.com/?source=nativescript-vue.org"
         target="_blank"
         rel="noopener"
         class="p-4">
          <img class="max-h-16 w-auto" src="https://art.nativescript-vue.org/sponsors/kiwiirc.png"
               alt="KiwiIRC">
      </a>
      <a href="https://www.progress.com/?source=nativescript-vue.org"
         target="_blank"
         rel="noopener"
         class="p-4">
          <img class="max-h-16 w-auto" src="https://art.nativescript-vue.org/sponsors/progress.png"
               alt="Progress">
      </a>
      <a href="https://nativescripting.com/?source=nativescript-vue.org"
         target="_blank"
         rel="noopener"
         class="p-4">
          <img class="max-h-16 w-auto" src="https://nativescripting.com/img/logo_full.svg"
               alt="NativeScripting">
      </a>
      <a href="https://www.exigency.net/?source=nativescript-vue.org"
         target="_blank"
         rel="noopener"
         class="p-4">
          <img class="max-h-16 w-auto" src="https://art.nativescript-vue.org/sponsors/exigencytr.png"
               alt="exigency">
      </a>
      <a href="https://www.bairesdev.com/sponsoring-open-source-projects/?source=nativescript-vue.org"
          target="_blank"
          rel="noopener"
          class="p-4">
          <img class="max-h-16 w-auto" src="https://art.nativescript-vue.org/sponsors/bairesdev.png"
              alt="exigency">
      </a>
  </div>
</div>