<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= sitename %></title>
    <link rel="stylesheet" href="https://unpkg.com/github-markdown-css@2.9.0/github-markdown.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<div id="app">
    <div class="font-sans leading-normal" :class="{'max-h-screen': modalVisible, 'overflow-hidden': modalVisible}">
        <!--<QuickStart />-->
        <%- include('_partials/header') %>

        <div class="min-h-screen">
            <%- contents %>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
<script src="/main.js"></script>
</body>
</html>