<!doctype html>
<html lang="en">
<head>
    <%- include('_partials/meta') %>
    <title><%= meta.sitename %></title>
</head>
<body>

<div id="app" v-cloak>
    <div class="font-sans leading-normal" :class="{'max-h-screen': modalVisible, 'overflow-hidden': modalVisible}">
        <!--<QuickStart />-->
        <%- include('_partials/header') %>

        <div class="min-h-screen">
            <%- current.contents %>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
<script src="/main.js"></script>
</body>
</html>